.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 800px) {
  .app {
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
  }
}
